Package: com.yzdmm.keyboardpluspro
Name: KeyboardPlusPro
Version: 1.0.8
Architecture: iphoneos-arm64e
Maintainer: yzdmm
Author: yzdmm
Section: Tweaks
Description: Keyboard enhancement - cursor, clipboard, symbol bar, layout, gestures, theme, haptic, caps lock
