Package: com.yzdmm.wetypeplus
Name: WetypePlus
Version: 3.0.0
Architecture: iphoneos-arm64e
Maintainer: yzdmm
Author: yzdmm
Section: Tweaks
Description: 微信输入法键盘上方叠加工具栏(光标/粘贴/符号)；放在键盘顶边之上空隙，不压按键也不占底部安全区
